.Main-option{
    content: "";
    display: table;
}
.Option-txt{
    border: 3px solid #aba7c9;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-style: rounded;
    color: #4f3dca;
    float:left;
}
.txt{
    font-size: medium;
    margin: 3px 3px 3px 3px;
    text-align: center;
}
.Input{
    border-radius: 16px;
    padding: 10px;
    border:2px solid #4f3dca;
}
.button {
    background-color: #4CAF50; /* Green */
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4f3dca;
}
  
  .button1:hover {
    background-color: #4f3dca;
    color: white;
}
.submitField{
    margin: auto;
    width: fit-content;
}
.App-Result{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.ChoiceField{
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: small;
    font-family: 'dosis', sans-serif;
    
}